html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

.dropdown-menu{
    z-index:9999;
}

.titre{
    margin-bottom:0;
}

.barTitre {
    cursor: pointer;
}
.listeCadre-item{
    border:3px solid rgb(224, 224, 224);
}

.cours {
    border: 3px solid rgb(224, 224, 224);
    padding:1em;
    margin-bottom:0;
}
.cours-img {
    border: 3px solid rgb(224, 224, 224);
} 
.exemple {
    background-color: rgb(224, 224, 224);
    padding: 1em;
    /*background: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01) 10px, rgba(0, 0, 0, 0.1) 10px, rgba(0, 0, 0, 0.1) 20px )*/
}

.conversionBin{
    padding:1em;
}
.text-conversionBin{
    width:150px;
}

.logoInfo{
    margin-right:0.5em;
}


