html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

.tiret{
    list-style-type:none;
}
.tiret li::before{
    content:"- ";
}
.tiret li.no-tiret::before{
    content:"";
}

#photoCv {
    border-radius: 5px;
    height: 50px;
}

.dropdown-menu {
    z-index: 9999;
}

.titre{
    margin-bottom:0;
}

.barTitre {
    cursor: pointer;
    background-color:#b5cde0;
}
a > .barTitre > .titre {
    text-decoration: none;
    color:black;
    text-underline-position:left;
}
a:hover {
    text-decoration: none;
}
evidence {
    font-size: 18px;
    font-weight: 500;
    padding: 0.3em;
    background-color: #fcf8e3;
}
.listeCadre-item{
    border:3px solid rgb(224, 224, 224);
}

.cours {
    border: 3px solid rgb(224, 224, 224);
    padding:1em;
    margin-bottom:0;
    background-color:#f6f6f6;
}
.exemple > .cours {
    background-color: #b5d0ad;
}
.cours-img {
    border: 3px solid rgb(224, 224, 224);
} 
.exemple {
    background-color: rgb(224, 224, 224);
    padding: 1em;
    /*background: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01) 10px, rgba(0, 0, 0, 0.1) 10px, rgba(0, 0, 0, 0.1) 20px )*/
}

.conversionBin{
    padding:1em;
}
.text-conversionBin{
    width:150px;
}

.logoInfo{
    margin-right:0.5em;
}

#navigationSpy:hover {
    opacity: 1;
}

.navigationSpy:active {
    opacity: 1;
}
#navigationSpy {
    position:fixed;
    opacity:0.5;
}

#header > .navbar{
    z-index:99999;
}

